/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: #e0e5ec;
    background: #0f0f0f;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Fondo animado */
#background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #0a0f29, #162a4f, #3a8bd6);
    opacity: 0.7;
    z-index: -1;
}

/* Menú de navegación */
header {
    display: flex;
    align-items: center; /* Alinea verticalmente el logo y el menú */
    padding: 20px 20px;
    background-color: #121a32;
    color: rgb(255, 255, 255);
    position: fixed; /* Fija el menú en la parte superior */
    top: 0; /* Coloca el menú en la parte superior de la ventana */
    width: 100%; /* Ocupa todo el ancho de la página */
    z-index: 1000;
}


html {
    scroll-behavior: smooth;
  }

/* Estilo del logo */
.logo {
    flex: 0 0 auto; /* Permite que el logo no crezca */
}

.logo img {
    height: 50px; /* Ajusta la altura del logo según sea necesario */
}

/* Estilo de la lista del menú */
nav {
    flex: 1; /* Permite que el nav use el espacio restante */
    display: flex;
    justify-content: center; /* Centra los botones */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px; /* Espacio entre los botones */
    margin: 0;
    padding: 0;
}

nav a {
    color: #8bbfef;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffffff;
}


.marco1 {
    border: 2px solid #ffffff; /* Cambia el color y el grosor del marco */
    padding: 20px; /* Espacio interno alrededor del contenido */
    margin: 20px; /* Espacio externo alrededor del marco */
    background-color: #120e4b; /* Color de fondo del marco (opcional) */
}
.contenedor {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    gap: 25px; /* Espacio entre la imagen y el texto */
}

.imagen {
    width: 10%; /* Ajusta el tamaño de la imagen */
    height: auto;
}

.responsive-img {
    width: 30%; /* La imagen ocupará el 100% del ancho de su contenedor */
    height: auto;
}

.texto {
    font-size: 20px;
    line-height: 1.5;
}

.titulo {
    font-size: 20px;
    line-height: 1.5;
}

/* Secciones */
.seccion {
    display: none;
    padding: 40px 20px;
   
 
}

.seccion h2 {
    color: #ffffff;
}

.seccion.activa {
    display: block;
}

/* Estilos futuristas de botones, encabezados y enlaces */
h1, h2 {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(58, 139, 214, 0.8);
}

a {
    color: #82c3ff;
    text-decoration: underline;
}

a:hover {
    color: #3a8bd6;
}

.submenu {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se muestren en columna */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #4776f8;
    padding: 10px;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(10px); /* Posición inicial para la animación */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    gap: 8px
}

/* Mostrar el submenú con animación */
nav ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* Desplaza el submenú hacia arriba a su posición final */
}


/* Asegúrate de que el submenú tenga estilo */
.submenu li {
    white-space: nowrap; /* Evita que se rompan las líneas */
}

.submenu a {
    padding: 20px 10px; /* Añade algo de relleno a los enlaces del submenú */
    color: #0e1318; /* Color del texto en el submenú */
}

#subseccion2 {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(24, 202, 233, 0.1);
    scroll-margin-top: 100px;
    margin-top: 30px;
}

#subseccion2 .titulo-seccion {
    font-size: 30px;
    color: #f7f8f8;
    text-align: center;
    margin-bottom: 20px;
}

#subseccion2 .contenido p {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: justify;
}

#subseccion2 .subtitulo {
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
}

#subseccion2 .referencias-titulo {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

#subseccion2 .referencias {
    font-size: 14px;
    line-height: 1.6;
    color: #666;
    list-style-type: disc;
    padding-left: 20px;
}

#subseccion3 {
    padding: 40px;
    max-width: 800px;
    margin: 50px auto;
    background-color: #121414; /* Un tono de fondo más suave */
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-top: 120px; /* Ajuste para evitar que se solape con el menú fijo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipografía diferente */
}

#subseccion3 .titulo-seccion {
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#subseccion3 .introduccion, 
#subseccion3 .parrafo {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    text-align: justify;
    margin-bottom: 20px;
}

#subseccion3 .tendencia h3 {
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
    font-weight: bold;
}

#subseccion3 .tendencia p {
    font-size: 15px;
    line-height: 1.6;
    color: #ffffff;
    text-align: justify;
    margin-top: 10px;
}

#subseccion3 .cita {
    font-style: italic;
    color: #444;
    background-color: #e0e7ff;
    padding: 15px;
    border-left: 4px solid #3b82f6;
    margin-top: 30px;
}

#subseccion3 .referencias-titulo {
    font-size: 18px;
    color: #e6dbdb;
    margin-top: 30px;
    font-weight: bold;
}

#subseccion3 .referencia {
    font-size: 14px;
    color: #cec2c2;
    text-align: justify;
}

#subseccion4 {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(24, 202, 233, 0.1);
    scroll-margin-top: 100px;
    margin-top: 30px;
    }

#subseccion4 .titulo-seccion {
    font-size: 28px;
    color: #16a085; /* Un color más oscuro para el título */
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

#subseccion4 .introduccion {
    font-size: 17px;
    line-height: 1.7;
    color: #2c3e50; /* Un tono gris oscuro para el texto */
    text-align: justify;
    margin-bottom: 25px;
}

#subseccion4 .subtitulo {
    font-size: 22px;
    color: #16a085; /* Color verde azulado para los subtítulos */
    margin-top: 30px;
    font-weight: bold;
    text-transform: uppercase; /* Subtítulos en mayúsculas */
    letter-spacing: 0.5px;
}

#subseccion4 .lista-tipos {
    font-size: 16px;
    color: #34495e;
    line-height: 1.6;
    margin-left: 20px;
    padding-left: 10px;
}

#subseccion4 .lista-tipos li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 25px;
}

#subseccion4 .lista-tipos li::before {
    content: '•'; /* Estilo de viñetas personalizadas */
    color: #16a085; /* El mismo verde azulado para las viñetas */
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

#subseccion4 .referencias-titulo {
    font-size: 19px;
    color: #34495e;
    margin-top: 40px;
    font-weight: bold;
}

#subseccion4 .referencias {
    font-size: 15px;
    color: #2c3e50;
    text-align: justify;
    margin-top: 10px;
}

#subseccion4 .referencias a {
    color: #2980b9; /* Un azul suave para los enlaces */
    text-decoration: none;
    font-weight: 500;
}

#subseccion4 .referencias a:hover {
    text-decoration: underline;
    color: #1c6393; /* Azul más oscuro al pasar el mouse */
}

#subseccion5 {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(24, 202, 233, 0.1);
    scroll-margin-top: 100px;
    margin-top: 30px;
}

#subseccion5 .titulo-seccion {
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#subseccion5 .contenido p {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: justify;
}

#subseccion5 .contenido h3 {
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
    font-weight: bold;
}

#subseccion5 ul {
    color: #ffffff;
    margin-top: 10px;
    padding-left: 20px;
}

#subseccion5 ul li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

#subseccion5 a {
    color: #82c3ff;
    text-decoration: underline;
}

#subseccion5 a:hover {
    color: #3a8bd6;
}

#subseccion6 {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(24, 202, 233, 0.1);
    scroll-margin-top: 100px;
    margin-top: 30px;
}

#subseccion6 .titulo-seccion {
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#subseccion6 .contenido p {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: justify;
}

#subseccion6 .contenido h3 {
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
    font-weight: bold;
}

#subseccion6 ul {
    color: #ffffff;
    margin-top: 10px;
    padding-left: 20px;
}

#subseccion6 ul li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

#subseccion6 a {
    color: #82c3ff;
    text-decoration: underline;
}


#fase1 {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(24, 202, 233, 0.1);
    scroll-margin-top: 100px;
    margin-top: 30px;
}

#fase2 {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(24, 202, 233, 0.1);
    scroll-margin-top: 100px;
    margin-top: 30px;
}

#fase3 {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(24, 202, 233, 0.1);
    scroll-margin-top: 100px;
    margin-top: 30px;
}

#subseccion6 a:hover {
    color: #3a8bd6;
}

.submenu a:hover {
    color: #ffffff; /* Color del texto al pasar el mouse por encima */
}

/* Estilo de partículas */
.particle {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #82c3ff;
    border-radius: 50%;
    opacity: 0.8;
    animation: moveParticle linear infinite;
}

/* Animación de movimiento */
@keyframes moveParticle {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(100vh) translateX(20vw);
    }

}

/* Animación de entrada */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Clase para aplicar la animación */
.activa {
    animation: fadeInUp 0.5s ease forwards; /* Duración y tipo de animación */
}

@media (max-width: 768px) {
    /* Cambia el menú a un diseño vertical para pantallas pequeñas */
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    /* Ajusta la altura y alineación del logo */
    .logo img {
        height: 40px;
    }

    /* Cambia el estilo del menú de navegación */
    nav {
        justify-content: flex-start;
        width: 100%;
    }

    nav ul {
        flex-direction: column; /* Cambia los elementos de la lista a una columna */
        gap: 20px;
    }

    nav a {
        font-size: 18px;
        padding: 10px 0;
    }

    /* Estilos de texto para secciones y encabezados */
    .seccion {
        padding: 20px;
    }

    h1, h2 {
        font-size: 1.5em;
    }
}

/* Media Query para pantallas aún más pequeñas */
@media (max-width: 480px) {
    nav a {
        font-size: 16px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.4em;
    }
}
/* Margen para que el contenido no se solape con el menú */
@media (max-width: 768px) {
    /* Añade margen superior solo en dispositivos móviles */
    .seccion {
        margin-top: 200px; /* Ajusta el valor según la altura del menú */
    }
}